        <div class="col-lg-8 col-md-8">
            <div class="card card-user">
                            
                <div class="card-body">
                    <div class="text-center">
                        <img class="avatar border-gray" width="100" height="100" src="./logo.png" alt="...">
                    </div>

                    <div class="form-group">
                            
                            <select class="form-control bg-info text-white text-center" id="cmbAplicacion">
                                <option value="SALES">VENTAS</option>
                                <option value="DELIVERY">REPARTO</option>
                                <option value="SUPERVISOR">SUPERVISOR</option>
                            </select>
                    </div>

                    <div class="form-group">

                            <label>Token:</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Usuario..." id="txtUser">
                                <div class="input-group-append">
                                    <button class="btn btn-info" onclick="getDataToken();">...</button>
                                </div>
                            </div>
                            
                    </div>

                    <div class="form-group" id="container_empresa">
                        <label>Empresa:</label>
                        <select class="form-control" id="cmbEmpresas">
                        </select>
                        <br>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xl-6">
                            <label>Contraseña:</label>
                            <input type="password" class="form-control" placeholder="Contraseña..." id="txtPass">
                        </div>
                    </div>
                        
                    <div class="row form-group" id="container_btniniciar">
                        <button class="btn btn-danger btn-xl btn-rounded form-control" id="btnIniciar" onclick="fcnLogin();">
                            Iniciar
                        </button>                       
                    </div>
                </div>

            </div>
        </div>